{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
<div class="row h-100">
    <div class="col m-12">


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://cdn.pixabay.com/photo/2016/07/22/14/12/bike-1534902_960_720.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2019/06/25/11/11/mountain-bike-4297972_960_720.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2016/07/21/18/40/cycling-1533270_960_720.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

</div>
</div>
</div>

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 class="display-4 logo-font text-warning">
                    You can rent a great bike...
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-success text-dark text-uppercase py-3">Rent Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}